body {
  box-sizing: border-box;
  margin: 1rem 10rem !important;
}
p {
  margin: 0.5rem 0rem;
}

/* Navbar */
.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Page elements */
form {
  text-align: center;
  border: 1px solid green;
  padding: 1rem;
}
input {
  width: 14rem;
  padding: 5px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
}
.books > .book {
  padding: 0.2rem 1rem;
}
label {
  font-size: 12px;
  color: gray;
}
button {
  cursor: pointer;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.buttons {
  display: flex;
  align-items: center;
}
.btn {
  margin-right: 0.5rem;
  padding: 5px 10px;
}
h4 {
  text-align: center;
  margin-top: 2rem;
}
#login-btn {
  background-color: #257347;
  padding: 0px 20px;
}
#update-btn {
  background-color: #fbca2c;
}
#delete-btn {
  background-color: #bb2e3c;
}
#submit-btn {
  background-color: #125ed6;
}
